.add-option {
  padding: 20px;
  text-align: center;
}

.btn {
  display: block;
  margin: 10px auto;
  padding: 12px;
  background: blue;
  color: white;
  border: none;
  border-radius: 8px;
  width: 80%;
}

.close-btn {
  margin-top: 15px;
  background: gray;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}
